<div class="main-container">
  <header>
    <h2>{{title}}</h2>
  </header>
  <div class="cotent">
    <table>
      <tr>
        <th rowspan="2"><h3>Toppings</h3></th>
        <th colspan="4"><h3>Pizza Size</h3></th>
      </tr>
      <tr>
        <th><h3>Small <span>{{pizzaCartDetails.small}}</span></h3>
          <button class="add" type="button" name="button" (click) = "addPizza('small')" [disabled]="pizzaCartDetails.small === 1">ADD</button></th>
        <th><h3>Medium <span>{{pizzaCartDetails.medium}}</span></h3>
          <button class="add" type="button" name="button" (click) = "addPizza('medium')" [disabled]="pizzaCartDetails.medium === 1">ADD</button></th>
        <th><h3>Large <span>{{pizzaCartDetails.large}}</span></h3>
          <button class="add" type="button" name="button" (click) = "addPizza('large')" [disabled]="pizzaCartDetails.large === 1">ADD</button></th>
        <th><h3>Extra Large <span>{{pizzaCartDetails.exlarge}}</span></h3>
          <button class="add" type="button" name="button" (click) = "addPizza('exlarge')" [disabled]="pizzaCartDetails.exlarge === 1">ADD</button></th>
      </tr>
      <tr>
        <td colspan="5" align="left">Veg Toppings</td>
      </tr>
      <tr *ngFor="let item of toppingVegArray">
        <td >{{item.name}}</td>
        <td><input type="checkbox" name="" value="" (change)="changeFn($event, 'small', item)" [disabled]="pizzaCartDetails.small === 0"></td>
        <td><input type="checkbox" name="" value="" (change)="changeFn($event, 'medium', item)" [disabled]="pizzaCartDetails.medium === 0"></td>
        <td><input type="checkbox" name="" value="" (change)="changeFn($event, 'large', item)" [disabled]="pizzaCartDetails.large === 0"></td>
        <td><input type="checkbox" name="" value="" (change)="changeFn($event, 'exlarge', item)" [disabled]="pizzaCartDetails.exlarge === 0"></td>
      </tr>
      <tr>
        <td colspan="5" align="left">Non-Veg Toppings</td>
      </tr>
      <tr *ngFor="let item of toppingNonVegArray">
        <td >{{item.name}}</td>
        <td><input type="checkbox" name="" value="" (change)="changeFn($event, 'small', item)" [disabled]="pizzaCartDetails.small === 0"></td>
        <td><input type="checkbox" name="" value="" (change)="changeFn($event, 'medium', item)" [disabled]="pizzaCartDetails.medium === 0"></td>
        <td><input type="checkbox" name="" value="" (change)="changeFn($event, 'large', item)" [disabled]="pizzaCartDetails.large === 0"></td>
        <td><input type="checkbox" name="" value="" (change)="changeFn($event, 'exlarge', item)" [disabled]="pizzaCartDetails.exlarge === 0"></td>
      </tr>
      <tr>
        <td>Individual Price</td>
        <td>{{smallPizzaPrice}}</td>
        <td>{{mediumPizzaPrice}}</td>
        <td>{{largePizzaPrice}}</td>
        <td>{{exLargePizzaPrice}}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td colspan="4">{{grandTotal}}</td>
      </tr>
    </table>
  </div>
</div>
