.main-container{
  width: 60%;
  margin: 0 auto;;
}
table{
  width: 100%;
  border: 1px solid #c1c1c1;
  text-align: center;
}
table td{
  padding: 20px;
  border: 1px solid #c1c1c1;
  border-collapse: collapse;
}
